/* Стили для шапки и меню на главной странице */
header {
    background-color: #9370DB;
    color: black;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 10px;
    }

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Стиль для секции на главной странице */
section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    background-color: #E6E6FA;
}